{{ define "main" }}
  <div class="container" role="main">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {{ with .Content }}
          <div class="well">
            {{.}}
          </div>
        {{ end }}
        {{ $paginator := (.Paginate (.Pages.ByDate.Reverse)) }}
        <div class="posts-list">
          {{ range $paginator.Pages }}
            <article class="post-preview">
              <a href="{{ .Permalink }}">
                <h2 class="post-title">{{ .Title }}</h2>
              <span class="post-meta">
                <i class="fas fa-calendar"></i>
                First public appearance on {{ dateFormat "Jan 2, 2006" .Params.Date }}</span>
              </a>

              <div class="post-entry">
                {{ .Params.Abstract | markdownify }}
                <a href="{{ .Permalink }}" class="post-read-more">[Slides, Video, etc.]</a>
              </div>

              {{ if .Params.tags }}
                <div class="blog-tags">
                  {{ range .Params.tags }}
                    <a href="{{ $.Site.LanguagePrefix | absURL }}/tags/{{ . | urlize }}/">{{ . }}</a>&nbsp;
                  {{ end }}
                </div>
              {{ end }}

            </article>
          {{ end }}
        </div>
        {{ if or ($paginator.HasPrev) ($paginator.HasNext) }}
          <ul class="pager main-pager">
            {{ if $paginator.HasPrev }}
              <li class="previous">
                <a href="{{ .URL }}page/{{ $paginator.Prev.PageNumber }}/">&larr; {{ i18n "newerPosts" }}</a>
              </li>
            {{ end }}
            {{ if $paginator.HasNext }}
              <li class="next">
                <a href="{{ .URL }}page/{{ $paginator.Next.PageNumber }}/">{{ i18n "olderPosts" }} &rarr;</a>
              </li>
            {{ end }}
          </ul>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}
